// @font-face {
//   font-family: 'yumy-icons'; 
//   src: url('//at.alicdn.com/t/font_1312162_neqltsj20an.eot');
//   src: url('//at.alicdn.com/t/font_1312162_neqltsj20an.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1312162_neqltsj20an.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1312162_neqltsj20an.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1312162_neqltsj20an.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1312162_neqltsj20an.svg#iconfont') format('svg');
// }
@font-face {
  font-family: 'yumy-icons'; 
  src:url('../fonts/icon.woff') format('woff');
}
[class^='yumy-icon-'],
[class*=' yumy-icon-']
  font-family yumy-icons !important
  speak none
  font-style normal
  font-weight 400
  font-variant normal
  text-transform none
  line-height 1
  vertical-align baseline
  display inline-block

.yumy-icon-loading:before
  content '\e633'
.yumy-icon-prompt:before
  content '\e71b'
.yumy-icon-message:before
  content '\e84a'
.yumy-icon-emoji:before
  content '\e6f6'
.yumy-icon-attah:before
  content '\e7e1'
.yumy-icon-image:before
  content '\e7de'
.yumy-icon-folder:before
  content '\e7d1'
.yumy-icon-people:before
  content '\e715'
.yumy-icon-group:before
  content '\e6ff'
.yumy-icon-addressbook:before
  content '\e6e2'
